ackports.entry-points-selectable 1.1.0    
certifi                           2020.11.8
chardet                           3.0.4    
distlib                           0.3.2    
filelock                          3.0.12   
geographiclib                     1.50
geopy                             2.0.0
idna                              2.10
pip                               21.2.4
platformdirs                      2.3.0
pycoingecko                       2.2.0
pydotenv                          0.0.7
pyTelegramBotAPI                  3.7.3
requests                          2.25.0
setuptools                        57.4.0
six                               1.15.0
urllib3                           1.26.2
virtualenv                        20.7.2
wheel                             0.37.0